
{% extends "pages/base.html" %}
{% load static %}

{% block title %}
Services de donnees
{% endblock title %}
{% block content %}

<div class="page-heading header-text">
     <h1>Services de donnees</h1>
        <span>Nous collectons,traitons,interpretons et prenons soins de vos donnees</span>
</div>

  <div class="callback-form callback-services">
    <div class="container">
      <div class="row">
        <div class="section-heading">
               <h2>Nos offres dans le domaine des donnees </h2>              
            </div> 
      <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Recherche <em>comportementale</em></h2>
              <span>
        
            </span>
                    <p style="text-align: justify;">
            C4RD aide les chercheurs à mener des recherches/jeux comportementaux ou des expériences connexes sur le terrain, en soutenant ses clients avec des équipes formées, des outils de collecte de données électroniques et des systèmes robustes pour gérer la logistique sur le terrain. C4RD étend continuellement ses capacités dans ce domaine
          </p>
            </div>
          </div>
        </div>   
        
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Collecte de <em>données qualitatives</em></h2>

            <p style="text-align: justify;">
            C4RD dispose d'une équipe de modérateurs et de facilitateurs formés qui dirigent des projets de recherche qualitative, notamment la conduite d'entretiens avec des répondants clés, des entretiens semi-structurés et des focus groups dans les langues locales. L’équipe de C4RD est familière à l’usage de Nvivo et ATLAS comme logiciels de gestion et d'analyse de données qualitatives
          </p>
            </div>
          </div>
        </div> 
          <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Collecte électronique de données</em></h2>
            
            </div>
              <p>C4RD utilise des tablettes Android pour la collecte de données. Nous avons une équipe polyvalente et spécialisée pour les scripts ; codage d'enquêtes en plateformes/tablettes électroniques fonctionnant avec diverses plateformes comme SurveyCTO, ODK, KoBoToolbox; Akvo Flow, Survey Solutions, Survey2Go,Tangerine, etc. Ils permettent la programmation d'enquêtes très flexibles, avec des modèles de saut compliqués si nécessaire, multimédias et d'excellentes fonctions d'audit.
La collecte des données quantitatives est effectuée à l'aide des outils de collecte de données électroniques de pointe (tablettes/smartphones). Outre la formation de l'équipe de données au pilotage des instruments de recherche, la préparation de la logistique d'enquête, la programmation des tablettes, la supervision sur le terrain, les contrôles de la qualité des données, la mise en œuvre des normes éthiques, la bonne comptabilité, la couverture d'assurance et le respect des exigences légales nationales, C4RD met beaucoup l'accent sur la garantie de processus de collecte de données robustes.
C4RD a mené des enquêtes à grande échelle dans plusieurs secteurs, notamment les secteurs de l'agriculture, l'éducation, la santé, le genre, le travail, la protection sociale, les finances, la pauvreté (revenus/consommation), les mines et télécommunications. Ces enquêtes comprenaient des études de prévalence, des évaluations de programmes, des jeux de comportement et des études de marché
              </p>
          </div>
        </div>
        
            <div class="row">
          <div class="col-md-8">
            <div class="section-heading">
              <h2>Digitalisation numérique <em>des questionnaires de collecte</em> </h2>
          
            </div>
                <p style="text-align: justify;">Les équipes de recherche et de données de C4RD ont une vaste expérience de la programmation d'enquêtes complexes sur des plateformes telles que ODK. SurveyCTO, Survey Solutions et Akvo Flow.
        Celles-ci permettent la programmation d'enquêtes très flexibles, avec des modèles de sauts compliqués et multimédias. Ces outils offrent également d'excellentes fonctions d'audit, notamment la capture de l'heure et du lieu des entretiens, la durée de chaque question, et même des enregistrements audio aléatoires des entretiens sélectionnés.

                </p>
          </div>
          <div class="col-md-4">
                <img src="{% static 'assets/images/service_01.jpg'%}" alt="service01" class="img-fluid">
            </div>
        </div> 
        <div class="accordion" id="articlesAccordion">
  </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Traitement et nettoyage  <em>des données</em></h2>
             
            </div>
             <p style="text-align: justify;">Même lorsqu'elles sont collectées électroniquement, les données brutes comportent souvent des coquilles. Nos analystes de recherche qualifiés s'assurent que toutes les options sont bien codées, les valeurs aberrantes supprimées, les variables et les options sont correctement étiquetées, les questions ouvertes sont traduites et codées dans la langue principale, et l'ensemble de données réorganisé de sorte que les variables correspondent à la structure de l'enquête.
                Toutes les données seront livrées au client, prêtes à l'emploi, nettoyées et étiquetées aux formats Stata/SPSS et Excel
             </p>
          </div>
        </div>
     
         <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2><em>Équipe</em> de collecte de données formee</h2>
           
            </div>
               <p style="text-align: justify;">C4RD détient une base de plus de 3000 agents de terrain à travers l'Afrique, y compris des coordinateurs de terrain, des superviseurs, des enquêteurs, des responsables du contrôle de la qualité, des modérateurs et des traducteurs, formés de manière approfondie par C4RD et ayant une expérience de travail sur de multiples projets de recherche avec C4RD. Les agents avec lesquels C4RD travaille, sont sélectionnés par voie de test/entretien et ont tous au moins un baccalauréat des universités locales ou internationales.
               </p>
          </div>

        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2><em>Qualité</em> des données</h2>
            
            </div>
              <p style="text-align: justify;">Nous utilisons une approche rigoureuse de la qualité des données, qui comprend l'utilisation de contrôles de qualité des données intégrés via la programmation de l'enquête, le back check d'au moins 10% du travail de chaque enquêteur (soit 10% de l'échantillon total), et le plus important de tous, c’est la garantie d'une formation intense des agents de terrain. 
              </p>
          </div>
        </div>

          <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Logistique</h2>
              
          </div>
          <p style="text-align: justify;">
            C4RD fournit tous les équipements nécessaires, la logistique et la supervision de la gestion pour mener des enquêtes à grande échelle. Nous formons nos équipes de recherche, nous coordonnons avec les autorités pour obtenir les approbations requises, organisons la logistique et le transport sur le terrain, gérons la qualité des données et le processus de contrôle, maintenons de saines pratiques comptables et veillons à disposer des polices d'assurance requises.
          </p>
        </div>

        <div class="row">
            <div class="col-md-12">
            <div class="section-heading">
              <h2>Préparation de la <em>phase de terrain</em></h2>
            
            </div>
              <p style="text-align: justify;">
               Nous minimisons les risques d'attrition et assurons des processus de collecte de données fluides en effectuant une préparation approfondie sur le terrain, en informant les autorités locales de notre enquête et en recrutant et en confirmant les participants à l'enquête avant la collecte de données. La préparation sur le terrain fait une très grande différence dans la qualité du travail sur le terrain.
              </p>
          </div>
        </div>

          <div class="row">
            <div class="col-md-12">
            <div class="section-heading">
              <h2>Protocoles <em>éthiques</em> de recherche</h2>
              
            </div>
            <p style="text-align: justify;">
               Nous minimisons les risques d'attrition et assurons des processus de collecte de données fluides en effectuant une préparation approfondie sur le terrain, en informant les autorités locales de notre enquête et en recrutant et en confirmant les participants à l'enquête avant la collecte de données. La préparation sur le terrain fait une très grande différence dans la qualité du travail sur le terrain.
            </p>
          </div>
        </div>



          <div class="col-md-12">
            
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Envoyer</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

 
 
{% endblock content %}