4.	Services de conseils
C4RD fournit des conseils techniques à ses clients sur la conception et la mise en œuvre de projets de recherche, d'interventions de développement et de politiques socio-économiques.
Notre approche est structurée, gourmande en données et ancrée dans le contexte politique et institutionnel local. Elle s’articule comme suit :
	Conseils sur les méthodes de recherche et conception de l'évaluation ;
	Conception de politiques et de projets fondée sur des preuves ;
	Amélioration du ciblage des interventions et des politiques ;
	Estimation et compréhension de la portée potentielle ;
	Renforcement des capacités sur les méthodes de recherche et d'évaluation ;
	Service de conseil intégré.

4.1.	Dernières techniques analytiques
C4RD combine des méthodes de conseil stratégique avec les dernières techniques de recherche et d'analyse de données disponibles. Nous pensons que l'analyse des données et les techniques expérimentales peuvent grandement contribuer à la qualité des conseils stratégiques et à l'élaboration de nouveaux programmes et politiques.
4.2.	Approche collaborative
Nous travaillons avec humilité et en étroite collaboration avec nos clients et partenaires. En impliquant les clients et les partenaires dans un processus de réflexion structuré, soutenu par des preuves et des informations qualitatives, nous créons un environnement dans lequel les meilleures idées peuvent faire surface.
